body{
  margin: 0px;
  text-align: center;
  font-family: 'Epilogue', sans-serif;
}
nav{
  margin: 5% 4%;
}
.container{
  width: 100%;
}
#left{
float: left;
}
#right{
  float: right;
}
.main-dropdown{
  display: none;
}
.mobile-hero-img{
  width: 100%;
  margin: 20px 0;
}
.main-div{
  width: 100%;

}
.paragraph{
  margin: 10px 2px;
  font-size: 17px;
  line-height: 1.7;
}
.learn-more{
  padding: 15px 25px;
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border-radius: 10px;
  margin: 20px 0 12px 0;
  font-size: 18px;
}
.client-div{
  width: 100%;
  margin: 50px 0px;
}
.client-images{
  width: 75px;
  margin-left: 12px;

}
